<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.minook.zeppa"
    android:versionCode="1"
    android:versionName="alpha" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <permission
        android:name="com.minook.zeppa.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.minook.zeppa.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".ZeppaApplication"
        android:allowBackup="true"
        android:icon="@drawable/zeppa_icon"
        android:label="@string/app_name"
        android:testOnly="false"
        android:theme="@style/ZeppaTheme"
        android:uiOptions="none" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.minook.zeppa.activity.LoginActivity"
            android:label="@string/app_name"
            android:logo="@drawable/zeppa_icon"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.minook.zeppa.activity.AuthenticatedFragmentActivity" >
        </activity>
        <activity
            android:name="com.minook.zeppa.activity.MainActivity"
            android:label="@string/app_name"
            android:logo="@drawable/zeppa_icon" >
        </activity>
        <activity
            android:name="com.minook.zeppa.activity.NewAccountActivity"
            android:label="@string/app_name"
            android:logo="@drawable/zeppa_icon" >
        </activity>
        <activity
            android:name="com.minook.zeppa.activity.MyEventViewActivity"
            android:label="@string/app_name"
            android:logo="@drawable/zeppa_icon" >
        </activity>
        <activity
            android:name="com.minook.zeppa.activity.NewFriendsActivity"
            android:label="@string/add_friends"
            android:logo="@drawable/zeppa_icon" >
        </activity>
        <activity
            android:name="com.minook.zeppa.activity.AbstractEventViewActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.minook.zeppa.activity.NewEventActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.minook.zeppa.activity.UserActivity"
            android:label="@string/app_name"
            android:logo="@drawable/zeppa_icon" />

        <!--
        <provider android:authorities="com.facade.calendar.calendarprovider" android:name="com.facade.calendar.CalendarFacade" android:permission="signature"/> 
        
        
        <provider
            android:name="com.tyczj.extendedcalendarview.CalendarProvider"
            android:authorities="com.tyczj.extendedcalendarview.calendarprovider" 
            android:permission="signature"/>
        -->


        <!--
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
                    <service android:name=".GCMIntentService" />
            
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.minook.zeppa" />
            </intent-filter>
        </receiver>
        
        <service android:name=".GCMIntentService"/>
        -->

        <receiver
            android:name="com.minook.zeppa.gcm.ZeppaGCMReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.minook.zeppa.GCMIntentService" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.minook.zeppa.gcm.ZeppaGCMService"
            android:enabled="true" />

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.minook.zeppa" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.minook.zeppa" />
            </intent-filter>
        </receiver>
    </application>

</manifest>